<div class="bg-blue-700 text-white p-6 rounded-md">
  <!-- Conteneur principal -->
  <div class="flex flex-col sm:flex-row items-center justify-between">
    <h1 class="text-xl sm:text-2xl font-bold">
      Portail des Démarches Administratives
    </h1>
    <!-- Conteneur de l'image -->
    <div class="flex-shrink-0">
      <img
        src="assets/person_doc.png"
        alt="Personne tenant un document"
        class="w-64 h-64 sm:w-50 sm:h-50"
      />
    </div>
  </div>
</div>



  <div class="bg-white p-6 shadow-md rounded-b-md">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <!-- Carte 1 -->
      <div class="bg-gray-900 text-white p-4 rounded-lg text-center">
        <h2 class="text-lg sm:text-xl font-semibold">Total Applications</h2>
        <p class="text-3xl sm:text-4xl font-bold mt-2">1000</p>
        <p class="text-green-500 mt-1">+20%</p>
      </div>
      <!-- Carte 2 -->
      <div class="bg-gray-900 text-white p-4 rounded-lg text-center">
        <h2 class="text-lg sm:text-xl font-semibold">Average Processing Time</h2>
        <p class="text-3xl sm:text-4xl font-bold mt-2">2 days</p>
        <p class="text-red-500 mt-1">-10%</p>
      </div>
      <!-- Carte 3 -->
      <div class="bg-gray-900 text-white p-4 rounded-lg text-center">
        <h2 class="text-lg sm:text-xl font-semibold">Satisfaction Rate</h2>
        <p class="text-3xl sm:text-4xl font-bold mt-2">95%</p>
        <p class="text-green-500 mt-1">+5%</p>
      </div>
    </div>
  </div>
  
  
  