<footer class="pb-28 mb-  overflow-hidden z-auto">

<div class="h-20 my-20">
    <!-- Logo et Navigation -->
    <div class="flex justify-center items-center h-20 py-6 ">
      <img src="/assets/logo_mtfp.png" alt="Logo du Ministère" class="h-32 w-auto" />
    </div>

    <!-- Bas de page -->
    <div class="text-center text-sm  font-bold my-8">
      © 2025 Ministère du Travail et de la Fonction Publique. Tous droits réservés.
    </div>
    <div class="text-center font-bold text-sm my-8">
      République du Bénin
    </div>

    <!-- Drapeau en bas -->
    <div class="flex justify-center mt-20 ">
      <div class="flex w-full h-3">
        <div class="bg-green-600 flex-1"></div>
        <div class="bg-yellow-500 flex-1"></div>
        <div class="bg-red-600 flex-1"></div>
      </div>
    </div>
  </div>
</footer>